{% extends 'base.html.twig' %}

{% block title %}
    Hello FluxController!
{% endblock %}

{% block body %}
    {% for item in rssItems %}
        <ul>
            <h4>TITRE : {{ item.title }}</h4>
            <a href="{{ item.link }}" target="_blank">{{ item.link }}</a>
            <p>{{ item.description }}</p>
        </ul>
        <hr>
    {% endfor %}
{% endblock %}
